/* Use your custom font */
@font-face {
    font-family: 'MxPlusCordataPPC400';
    src: url('WebPlus_Cordata_PPC-400.woff') format('woff'), /* Relative path */
         url('MxPlus_Cordata_PPC-400.ttf') format('truetype'); /* Relative path */
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    border: 3px dotted #90D64B;
    box-shadow: 0 0 10px #90D64B;
    font-family: 'MxPlusCordataPPC400', monospace; /* Your custom font */
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(20,20,16,1) 45%, rgba(40,40,40,1) 100%);
    color: #90D64B; /* Green color for text */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the body takes up at least full viewport height */
    height: 100%;
    box-sizing: border-box; /* Ensure the border is included in height calculations */
    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/* Container with retro border */
.landing-container {
    text-align: center;
    position: relative;
    padding: 20px;
    color: #90D64B; /* Yellowish-orange text color */
    max-width: 80%;
    height: 500px;
    margin: auto;
}

.formicaio-logo {
    width: 525px;
    margin: 12px auto 5px auto;
    animation: flicker 20s infinite alternate; /* Flicker animation */
    filter: drop-shadow(-0.4rem -0.4rem 0rem #384774);
}

.description-box {
    background-color: #8F292B;
    color: #8F292B; /* Retro text color */
    padding: 30px;
    margin: 10px auto 15px auto;
    width: 77%;
    max-width: 770px;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-top: 0.8rem;
    padding-right: 1.4rem;
    padding-bottom: 0.8rem;
    padding-left: 1.4rem;
    filter: drop-shadow(0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15));
    filter: drop-shadow(-0.1rem -0.1rem 0rem #9dd3a1);
    text-align: center;
    font-size: 16px; /* Use the existing font size with custom font */
    font-weight: normal;
    line-height: 1.4;
    box-shadow: inset 0 0 10px #8F292B;
    font-family: 'MxPlusCordataPPC400', monospace; /* Apply custom font */

}

.description-text {
    color: #ffff;
    filter: drop-shadow(0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15));
    font-size: 1.5rem;
    text-shadow: 0 0 5px #90D64B, /* Soft green glow */
                 0 0 10px #90D64B, /* Larger soft green glow */
                 0 0 20px #90D64B; /* Even larger soft green glow */
}

/* Style the buttons to look like retro ASCII terminal elements */
.start-btn, .tutorial-btn {
    display: inline-block;
    background-color: #000;
    border-style: solid;
    border-color: #000;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding-top: 0.8rem;
    padding-right: 1.4rem;
    padding-bottom: 0.8rem;
    padding-left: 1.4rem;
    filter: drop-shadow(0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15));
    margin: 0 15px;
    background: #9dd3a1;
    cursor: pointer;
    font-size: 1rem; /* Smaller font size for retro style */
    color: black;
    font-weight: bolder;
    font-family: 'MxPlusCordataPPC400', monospace; /* Apply custom font */
    line-height: 1.2;
    text-decoration: none;
    text-align: center;
}


.start-btn:hover, .tutorial-btn:hover {
    color: #000;
}

/* ASCII-styled hover effect on ant images */
.ant {
    position: absolute;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.ant-left {
    left: -8%;
    bottom: 38%;
    transform: rotate(-20deg);
    width: 300px;
    filter: drop-shadow(0rem 0rem 0rem #52fc3b)
}

.ant-right {
    right: -4%;
    top: 5%;
    transform: rotate(20deg);
    width: 250px;
    filter: drop-shadow(0rem 0rem 0rem #52fc3b)
}


@keyframes sway-left {
    0% { transform: rotate(-20deg) translateX(0); }
    50% { transform: rotate(-25deg) translateX(-15px); }
    100% { transform: rotate(-20deg) translateX(0); }
}

@keyframes sway-right {
    0% { transform: rotate(20deg) translateX(0); }
    50% { transform: rotate(25deg) translateX(15px); }
    100% { transform: rotate(20deg) translateX(0); }
}

/* Define keyframes for bobbing motion */
@keyframes bob {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Apply hover animation to ant-left */
.ant-left:hover {
    animation: sway-left 1s infinite alternate, bob 2s infinite;
}

/* Apply hover animation to ant-right */
.ant-right:hover {
    animation: sway-right 1s infinite alternate, bob 2s infinite;
}


@keyframes flicker {
    0% { opacity: 1; }
    5% { opacity: 0.5; }
    10% { opacity: 1; }
    15% { opacity: 0.8; }
    20% { opacity: 0.6; }
    25% { opacity: 1; }
    30% { opacity: 0.7; }
    35% { opacity: 1; }
    40% { opacity: 0.9; }
    45% { opacity: 1; }
    50% { opacity: 0.5; }
    55% { opacity: 1; }
    60% { opacity: 0.8; }
    65% { opacity: 1; }
    70% { opacity: 0.9; }
    75% { opacity: 1; }
    80% { opacity: 0.5; }
    85% { opacity: 1; }
    90% { opacity: 0.8; }
    95% { opacity: 1; }
    100% { opacity: 0.6; }
}


.footer_text {
    font-family: 'MxPlusCordataPPC400', monospace; /* Your custom font */
    font-size: 12px;
    position: fixed; 
    bottom: 0; 
    right: 10px; 
}